.article-holder-1.first
	article
		.image-holder(style="background-color:#5c45c4")
			a(href="article.html").article-link
				img.fake-img(src="http://41.media.tumblr.com/ae4a7d7665cc09702758afd5be1ee6fb/tumblr_inline_nv742ofcqE1spa7ad_1280.jpg", alt="article")
			.img(style="background-image:url(http://41.media.tumblr.com/ae4a7d7665cc09702758afd5be1ee6fb/tumblr_inline_nv742ofcqE1spa7ad_1280.jpg)")

			ul.socials-holder
				li
					a(href="#", target="_blank")
						span Facebook
				li
					a(href="#", target="_blank")
						span Pinterest
				li
					a(href="#", target="_blank")
						span Twitter
				li
					a(href="#", target="_blank")
						span Tumblr

			.date-holder
				span 25 Jun 2016

		a(href="article.html").description
			h3 Поради: що почитати, щоб ще мозку прибавилося?
			p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла


	article
		.image-holder(style="background-color:#ff6ebf")
			a(href="article.html").article-link
				img.fake-img(src="http://41.media.tumblr.com/0eea286cd47f71aeec9298f96c5f0a8c/tumblr_inline_nv748kwdGN1spa7ad_1280.jpg", alt="article")
			.img(style="background-image:url(http://41.media.tumblr.com/0eea286cd47f71aeec9298f96c5f0a8c/tumblr_inline_nv748kwdGN1spa7ad_1280.jpg)")

			ul.socials-holder
				li
					a(href="#", target="_blank")
						span Facebook
				li
					a(href="#", target="_blank")
						span Pinterest
				li
					a(href="#", target="_blank")
						span Twitter
				li
					a(href="#", target="_blank")
						span Tumblr

			.date-holder
				span 25 Jun 2016

		a(href="article.html").description
			h3 Поради: що почитати, щоб мозку прибавилося?
			p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»
