mixin hover
	.hover
		ul
			li
				.category
			li
				.comments
.articles-holder.left
	article
		.like
			img(src="img/icons/like-icon-1.svg", alt="like")
		.image-holder
			+hover
			a(href="article.html").article-link
				img.fake-img(src="http://lamcdn.net/lookatme.ru/post-cover/a3x1vLwP_j-CyVaqOiquLw-default.png", alt="article")
			.img(style="background-image:url(http://lamcdn.net/lookatme.ru/post-cover/a3x1vLwP_j-CyVaqOiquLw-default.png)")

			.date-holder
				span 25 Jun 2016

		.description
			h3 Поради: що почитати, щоб ще мозку прибавилося?
			p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла


	article
		.like
			img(src="img/icons/like-icon-1.svg", alt="like")
		.image-holder
			+hover
			a(href="article.html").article-link
				img.fake-img(src="https://t1.kn3.net/taringa/F/3/7/4/C/B/mavr009/DBB.jpg", alt="article")
			.img(style="background-image:url(https://t1.kn3.net/taringa/F/3/7/4/C/B/mavr009/DBB.jpg)")

			.date-holder
				span 25 Jun 2016

		.description
			h3 Поради: що почитати, щоб мозку прибавилося?
			p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

.articles-holder.right
	article
		.like
			img(src="img/icons/like-icon-1.svg", alt="like")
		.image-holder
			+hover
			a(href="article.html").article-link
				img.fake-img(src="http://apptractor.ru/wp-content/uploads/2015/08/210-667x500.png", alt="article")
			.img(style="background-image:url(http://apptractor.ru/wp-content/uploads/2015/08/210-667x500.png)")

			.date-holder
				span 25 Jun 2016

		.description
			h3 Поради: що почитати, щоб ще мозку прибавилося?
			p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла


	article
		.like
			img(src="img/icons/like-icon-1.svg", alt="like")
		.image-holder
			+hover
			a(href="article.html").article-link
				img.fake-img(src="http://i.gold.com.tr/UrunResim/GoldGorsel/UzmanGorusu/310366/lg-g5_02.jpg", alt="article")
			.img(style="background-image:url(http://i.gold.com.tr/UrunResim/GoldGorsel/UzmanGorusu/310366/lg-g5_02.jpg)")

			.date-holder
				span 25 Jun 2016

		.description
			h3 Поради: що почитати, щоб мозку прибавилося?
			p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»
