$large: 1300px
$medium: 1260px
$tablet: 1000px
$mobile-large: 760px
$mobile-medium: 640px
$mobile-small: 480px
$mobile-x-small: 320px

section.blog
	margin-top: 160px
	font-size: 0
	letter-spacing: 0
	overflow: hidden
	.section-label
		// margin-top: 20px
	h3
		color: black
		font-size: 18px
		font-weight: 600
		letter-spacing: 0.9px
		line-height: 30px
		margin-bottom: 21px
	p
		color: #6e6e6e
		font-size: 15px
		font-weight: 400
		line-height: 20px
	article
		position: relative
		margin-bottom: 76px
	.article-link
		display: block
	.filter
		height: 45px
	.image-holder
		width: 100%
		&:after
			content: ''
			background: $main-color
			opacity: 0
			position: absolute
			height: 100%
			width: 100%
			top: 0
			left: 0
			transition: opacity .3s
			pointer-events: none
	.like
		cursor: pointer
		top: 0
		left: -59px
		position: absolute
		height: 59px
		width: 59px
		transition: background .3s
		z-index: 1
		&:hover
			background: $main-color
	.description
		margin-top: 30px
	.pagination
		margin-top: 29px
		margin-bottom: 50px
		text-align: left
		ul
			margin-left: 25%
		li
			margin: 0 5px 0 0
			width: 3.6%
			width: calc((25% - 90px) / 3.7)
			&.arrow-left, &.arrow-right
				width: 52px
			&.arrow-left
				margin-left: -40px - 52px
				margin-right: 40px
			&.arrow-right
				margin-left: 40px
	.load-more-holder
		text-align: left
	.load-more
		margin-left: 25%
		min-width: 25%
		padding: 12px 28px
		text-align: center
	.read-more
		border: 3px solid $main-color
		color: black
		display: inline-block
		font-size: 15px
		font-weight: 600
		letter-spacing: 0
		line-height: 1em
		padding: 14px 103px
		position: relative
		text-align: center
		text-transform: uppercase
		top: 14px
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
		transition: background .3s
		&:hover
			background: $main-color
			transition: background .1s
	.hover
		// background: #ffc000
		cursor: default
		opacity: 0
		transition: opacity .3s, transform .3s
		position: absolute
		padding: 0 23px
		left: 0
		top: 0
		width: 100%
		transform: translateY(-100%)
		z-index: 2
		.links
			margin: 14px 0
		a
			display: block
			text-align: right
			color: #000
			font-size: 15px
			font-weight: 700
			.icon, .label, .comments
				display: inline-block
				vertical-align: middle
			.icon
				background-position: 0 50%
				background-repeat: no-repeat
				margin-right: 3px
				// margin-left: 23px
				height: 37px
				width: 24px
			.label
				margin-top: -2px
			&.category
				.icon
					background-image: url('../img/icons/article-category.svg')
					background-position: 2px 50%
			&.comments
				.icon
					background-image: url('../img/icons/article-comments.svg')
					background-position: 0px 50%
	article
		&:hover
			.hover
				opacity: 1
				transform: translateY(0)
			.image-holder
				&:after
					opacity: 0.6
	.articles-holder
		display: inline-block
		vertical-align: top
		width: 50%
		@media (max-width: $mobile-large)
			width: 100%
		&.left
			padding-top: 58px
			.description
				text-align: left
			article:nth-child(odd)
				width: 359px
				width: 70%
				&:after
					background-color: $main-color
					content: ''
					width: 144px
					position: absolute
					top: 260px
					left: -38px
					height: 23px
				.image-holder
					height: 301px
			article:nth-child(even)
				left: -16px
				width: 420px
				width: 81%
				.image-holder
					height: 361px
				.description
					padding-left: 60px
					&:after
						background-color: $main-color
						content: ''
						height: 307px
						position: absolute
						left: 16px
						bottom: 0
						width: 9px
		&.right
			padding-top: 86px
			.description
				text-align: right
			article:nth-child(odd)
				width: 370px
				&:after
					background-color: $main-color
					content: ''
					width: 12px
					position: absolute
					top: -12px
					left: 330px
					height: 201px
				.image-holder
					height: 451px
				.description
					padding-left: 40px
					text-align: left
					// max-width: 78%
			article:nth-child(even)
				text-align: right
				// width: 520px
				&:after
					background-color: $main-color
					content: ''
					width: 210px
					position: absolute
					top: 24px
					left: auto
					right: -12px
					height: 33px
				.image-holder
					height: 331px
				.description
					padding: 0 16px 0 10%
	&.single
		margin-top: 179px
		.section-label
			top: 0
		h3
			letter-spacing: 1px
			// line-height: 20px
		.description
			margin-top: 30px
		article
			margin-bottom: 74px
		.articles-holder
			&.left
				padding-top: 0
				article:last-child
					margin-bottom: 0
				article:nth-child(odd)
					width: 460px
					width: 88.3%
					h3
						margin-bottom: 22px
					.image-holder
						height: 301px
				article:nth-child(even)
					left: -17px
					h3
						margin-bottom: 18px
					.description
						margin-top: 28px
						padding-left: 78px
			&.right
				padding-top: 37px
				article:last-child
					margin-bottom: 0
				article:nth-child(even)
					margin-left: 19%
					width: 421px
					width: 81%
					&:after
						width: 4px
						height: 183px
						top: 216px
						top: auto
						bottom: 77px
						left: auto
						right: 22px
					.image-holder
						height: 417px
					.description
						max-width: 88%
				article:nth-child(odd)
					width: 100%
					&:after
						height: 33px
						width: 210px
						top: -5px
						left: auto
						right: -12px
					.image-holder
						width: 100%
						height: 301px
					.description
						text-align: right
						max-width: 100%
