
section.blog
	margin-top: 160px
	font-size: 0
	letter-spacing: 0
	overflow: hidden
	@media (max-width: $mobile-large)
		margin-top: 179px
	.section-label
		// margin-top: 20px
	h3
		color: black
		font-size: 18px
		font-weight: 600
		letter-spacing: 0.9px
		line-height: 30px
		margin-bottom: 21px
		@media (max-width: $mobile-large)
			margin-bottom: 9px
	p
		color: #6e6e6e
		font-size: 15px
		font-weight: 400
		line-height: 20px
		letter-spacing: 0
	article
		position: relative
		margin-bottom: 76px
		@media (max-width: $mobile-large)
			margin-bottom: 94px
	.article-link
		display: block
	.filter
		height: 45px
		@media (max-width: $mobile-large)
			display: none
	.image-holder
		width: 100%
		&:after
			content: ''
			background: $main-color
			opacity: 0
			position: absolute
			height: 100%
			width: 100%
			top: 0
			left: 0
			transition: opacity .3s
			pointer-events: none
	.like
		cursor: pointer
		top: 0
		left: -59px
		position: absolute
		height: 59px
		width: 59px
		transition: background .3s
		z-index: 1
		&:hover
			background: $main-color
		@media (max-width: $mobile-large)
			left: -20px
	.description
		margin-top: 30px
		@media (max-width: $mobile-large)
			margin-top: 12px
	.pagination
		margin-top: 29px
		margin-bottom: 50px
		text-align: left
		ul
			margin-left: 25%
			@media (max-width: $mobile-large)
				margin-left: auto
				margin-right: auto
				max-width: 400px
		li
			margin: 0 5px 0 0
			width: 3.6%
			width: calc((25% - 90px) / 3.7)
			width: calc((25% - 72px) / 3.7)
			@media (max-width: $mobile-large)
				text-align: center
				width: calc((100% - 165px) / 5)
			&.arrow-left, &.arrow-right
				width: 52px
			&.arrow-left
				// margin-left: -40px - 52px
				margin-left: -69px
				margin-right: 17px
				@media (max-width: $mobile-large)
					margin-left: 0
					background-position: 0 50%
			&.arrow-right
				margin-left: 17px
				@media (max-width: $mobile-large)
					background-position: 100% 50%
					margin-right: 0
	.load-more-holder
		text-align: left
		@media (max-width: $mobile-large)
			display: none
	.load-more
		margin-left: 25%
		min-width: 25%
		padding-left: 28px
		padding-right: 28px
		text-align: center
	.read-more
		border: 3px solid $main-color
		color: black
		display: inline-block
		font-size: 15px
		font-weight: 600
		letter-spacing: 0
		line-height: 1em
		padding: 14px 103px
		position: relative
		text-align: center
		text-transform: uppercase
		top: 14px
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
		transition: background .3s
		@media (max-width: $mobile-large)
			display: block
			display: none
			margin: 0 auto 0
			padding-left: 14px
			padding-right: 14px
			max-width: 400px
			width: 100%
		&:hover
			background: $main-color
			transition: background .1s
		&-mobile
			color: #9e9e9e
			font-size: 15px
			font-weight: 500
			line-height: 1em
			text-transform: uppercase
			font-weight: 600
			margin-right: 16px
			letter-spacing: 0px
			&:after
				background: url("../img/icons/more-awesome-1.svg") 50% 1px no-repeat
				content: ''
				display: inline-block
				height: 17px
				width: 7px
				vertical-align: middle
				position: relative
				right: -16px
			&-holder
				margin-top: -21px
				text-align: right
	.hover
		cursor: default
		opacity: 0
		transition: opacity .3s, transform .3s
		position: absolute
		padding: 0 23px
		left: 0
		top: 0
		width: 100%
		transform: translateY(-100%)
		z-index: 2
		@media (max-width: $mobile-large)
			display: none
		.links
			margin: 14px 0
		a
			display: block
			text-align: right
			color: #000
			font-size: 15px
			font-weight: 700
			.icon, .label, .comments
				display: inline-block
				vertical-align: middle
			.icon
				background-position: 0 50%
				background-repeat: no-repeat
				margin-right: 3px
				// margin-left: 23px
				height: 37px
				width: 24px
			.label
				margin-top: -2px
			&.category
				.icon
					background-image: url('../img/icons/article-category.svg')
					background-position: 2px 50%
			&.comments
				.icon
					background-image: url('../img/icons/article-comments.svg')
					background-position: 0px 50%
	.article-footer-mobile
		.hover
			display: none
			position: static
			transform: none
			opacity: 1
			padding: 0
			letter-spacing: 0
			@media (max-width: $mobile-large)
				display: block
			.links
				display: flex
				justify-content: space-between
				margin: 13px -1px 0
				a
					display: inline-block
					letter-spacing: 0

	article
		&:hover
			.hover
				opacity: 1
				transform: translateY(0)
			.image-holder
				&:after
					opacity: 0.6
	.articles-holder
		display: inline-block
		vertical-align: top
		width: 50%
		@media (max-width: $mobile-large)
			width: 100%
		// &.left, &.right
			// @media (max-width: $mobile-large)
				// width: 100%
		&.left
			padding-top: 58px
			@media (max-width: $mobile-large)
				padding-top: 30px
			.description
				text-align: left
			article:nth-child(odd)
				width: 359px
				width: 70%
				@media (max-width: $mobile-large)
					width: 100%
				&:after
					background-color: $main-color
					content: ''
					width: 144px
					position: absolute
					top: 260px
					left: -38px
					height: 23px
					@media (max-width: $mobile-large)
						top: 208px
				.image-holder
					height: 301px
					@media (max-width: $mobile-large)
						height: 249px
						width: calc(100% + 20px)
			article:nth-child(even)
				left: -16px
				width: 420px
				width: 81%
				@media (max-width: $mobile-large)
					left: 0
					width: 100%
				.image-holder
					height: 361px
					@media (max-width: $mobile-large)
						height: 341px
				.description
					padding-left: 60px
					@media (max-width: $mobile-large)
						padding-left: 0
						text-align: right
					&:after
						background-color: $main-color
						content: ''
						height: 307px
						position: absolute
						left: 16px
						bottom: 0
						width: 9px
						@media (max-width: $mobile-large)
							left: auto
							bottom: auto
							top: -20px
							height: 201px
							right: 22px
							width: 11px
		&.right
			padding-top: 86px
			@media (max-width: $mobile-large)
				padding-top: 0
			.description
				text-align: right
			article:nth-child(odd)
				width: 370px
				width: 71%
				@media (max-width: $mobile-large)
					width: 100%
				&:after
					background-color: $main-color
					content: ''
					width: 12px
					position: absolute
					top: -12px
					left: 330px
					left: 89.5%
					height: 201px
					@media (max-width: $mobile-large)
						left: 0
						top: auto
						bottom: 0
						width: 9px
				.image-holder
					height: 451px
					@media (max-width: $mobile-large)
						height: 256px
						margin-left: -20px
						width: calc(100% + 20px)
				.description
					padding-left: 40px
					text-align: left
					// max-width: 78%
			article:nth-child(even)
				text-align: right
				// width: 520px
				&:after
					background-color: $main-color
					content: ''
					width: 210px
					position: absolute
					top: 24px
					left: auto
					right: -12px
					height: 33px
					@media (max-width: $mobile-large)
						right: -20px
				.image-holder
					height: 331px
					@media (max-width: $mobile-large)
						height: 204px
						margin-left: -20px
						width: calc(100% + 40px)
				.description
					padding: 0 16px 0 10%
	&.single
		margin-top: 179px
		@media (max-width: $mobile-large)
			margin-top: 101px
		.section-label
			top: 0
		h3
			letter-spacing: 1px
			// line-height: 20px
		.description
			margin-top: 30px
			@media (max-width: $mobile-large)
				margin-top: 12px
		article
			margin-bottom: 74px
			@media (max-width: $mobile-large)
				margin-bottom: 86px
		.pagination
			@media (max-width: $mobile-large)
				margin-top: 108px
		.load-more-holder
			@media (max-width: $mobile-large)
				display: block
				margin-top: 51px
				.container
					padding: 0 20px
					width: 100%
					.load-more
						margin: 0
						width: 100%
		.articles-holder
			&.left
				padding-top: 0
				article:last-child
					margin-bottom: 0
				article:nth-child(odd)
					width: 460px
					width: 88.3%
					@media (max-width: $mobile-large)
						width: 100%
					h3
						margin-bottom: 22px
						@media (max-width: $mobile-large)
							margin-bottom: 8px
					.image-holder
						height: 301px
						@media (max-width: $mobile-large)
							height: 250px
				article:nth-child(even)
					left: -17px
					@media (max-width: $mobile-large)
						left: 0
					&:before
						content: ''
						display: none
						position: absolute
						background-color: $main-color
						height: 200px
						width: 12px
						right: 19px
						top: -20px
						z-index: 1
						@media (max-width: $mobile-large)
							display: block
					h3
						margin-bottom: 18px
					.description
						margin-top: 28px
						padding-left: 78px
						@media (max-width: $mobile-large)
							// padding-left: 36px
							padding-left: 0
							&:after
								display: none
			&.right
				padding-top: 37px
				article:last-child
					margin-bottom: 0
				article:nth-child(even)
					margin-left: 19%
					width: 421px
					width: 81%
					&:after
						width: 4px
						height: 183px
						top: 216px
						top: auto
						bottom: 77px
						left: auto
						right: 22px
						@media (max-width: $mobile-large)
							right: auto
							left: 0
							width: 9px
							bottom: 130px
					@media (max-width: $mobile-large)
						margin-left: 0
						left: 0
						width: 100%
					.image-holder
						height: 417px
						@media (max-width: $mobile-large)
							height: 256px
							margin-left: -20px
							width: calc(100% + 20px)
					.description
						max-width: 88%
						@media (max-width: $mobile-large)
							text-align: left
							margin-right: 0
							padding-right: 0
							max-width: 100%
					.article-footer-mobile
						margin-left: -39px
				article:nth-child(odd)
					width: 100%
					&:after
						height: 33px
						width: 210px
						top: -5px
						left: auto
						right: -12px
						@media (max-width: $mobile-large)
							right: -20px
							top: 20px
					.image-holder
						height: 301px
						width: 100%
						@media (max-width: $mobile-large)
							height: 204px
							width: calc(100% + 40px)
					.description
						text-align: right
						max-width: 100%
						@media (max-width: $mobile-large)
							padding-left: 0
							padding-right: 28px
							// width: 100%
					.article-footer-mobile
						margin-right: -25px
