$large: 1300px
$medium: 1260px
$tablet: 1000px
$mobile-large: 760px
$mobile-medium: 640px
$mobile-small: 480px
$mobile-x-small: 320px
$main-color: #ffd500

section.courses-list
	margin-top: 175px
	.section-label
		top: 7px
	.description
		width: 75%
		p
			color: black
			font-size: 18px
			font-weight: 400
			line-height: 30px
			letter-spacing: 1px
			margin-left: -2px
	ul.list
		letter-spacing: 0
		font-size: 0
		margin-top: 58px
		li
			display: inline-block
			vertical-align: top
			margin-bottom: 71px
			width: 50%
			img
				display: block
				margin-bottom: -9px
				max-width: 80%
			.price, .duration
				color: #141414
				font-size: 18px
				font-weight: 400
				line-height: 30px
				letter-spacing: 1px
			.price
				position: relative
				margin-left: -2px
				padding-right: 22px
				margin-right: 23px
				&:after
					content: ''
					border: 1px solid #141414
					position: absolute
					height: 16px
					display: inline-block
					vertical-align: middle
					top: -2px
					right: -1px
					// width: 2px
			p
				color: #6e6e6e
				font-size: 15px
				font-weight: 400
				line-height: 20px
				letter-spacing: 0
				margin-top: 13px
				margin-left: -1px
				width: 60%
			.btn
				color: black
				font-size: 15px
				font-weight: 600
				letter-spacing: 0
				line-height: 1em
				margin-top: 32px
				text-align: center
				display: inline-block
				border: 3px solid $main-color
				padding: 15px
				min-width: 50%
				text-transform: none
				transition: background .3s
				&:hover
					background: $main-color
					transition: background .1s

section.hottest
	margin-top: 180px
	.tint
		position: absolute
		top: 0
		left: -10.4%
		right: 0
		bottom: 0
		background: rgba(0,0,0,0.4)
	.container
		position: relative
		&:before
			display: block
			position: absolute
			background-image: url("https://t1.ftcdn.net/jpg/01/00/71/94/240_F_100719467_PhBB23fVi6UVYXsAPqfFQacTUEziEDhU.jpg")
			background-position: 50% 50%
			background-repeat: repeat
			top: 0
			right: 0
			bottom: 0
			left: -10.4%
	.content-holder
		position: relative
		padding: 54px 0 45px
		color: #fff
		font-size: 0
		letter-spacing: 0
		h2
			color: white
			font-size: 30px
			font-weight: 700
			line-height: 40px
		.title-report
			color: white
			font-size: 50px
			line-height: 65px
			font-weight: 500
			margin-top: 185px
			b
				font-weight: 800
		.title-yellow
			display: block
			color: $main-color
			font-size: 25px
			font-weight: 600
			line-height: 30px
			letter-spacing: 1px
			margin-bottom: 28px
		.pre-footer
			color: $main-color
			font-size: 20px
			font-weight: 700
			line-height: 1em
			margin-top: 73px
			margin-bottom: 30px
			& ~ .footer
				margin-top: 20px
	.footer
		position: relative
		margin-top: 90px
		&:before
			content: ''
			background: white
			height: 3px
			left: 1px
			position: absolute
			top: -24px
			width: 42px
		.conditions
			display: inline-block
			color: white
			font-size: 18px
			font-weight: 700
			line-height: 30px
			letter-spacing: 1px
			width: 50%
		.address
			color: white
			display: inline-block
			font-size: 18px
			font-weight: 600
			line-height: 30px
			width: 50%
			&:before
				background: url(../img/icons/pin-1.svg) no-repeat
				background-size: contain
				content: ''
				display: inline-block
				position: relative
				top: 4px
				height: 24px
				width: 25px
			b
				font-weight: 900
				letter-spacing: 1px
