$large: 1300px
$medium: 1260px
$tablet: 1000px
$mobile-large: 760px
$mobile-medium: 640px
$mobile-small: 480px
$mobile-x-small: 320px

section.teachers.event-smart-teachers
	margin-top: 80px
	// margin-bottom: 10px

section.register
	margin-top: 22px
	margin-bottom: 136px
	.container
		font-size: 0
		letter-spacing: 0
		.content-holder
			.description, .register-form
				display: inline-block
				vertical-align: top
				width: 50%
			.description
				padding-right: 40px
				p
					color: black
					font-size: 18px
					font-weight: 500
					letter-spacing: 1px
					line-height: 30px
					margin-bottom: 30px
			.register-form
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)
				padding: 51px 60px 50px
				width: 48%
				h2
					color: #1a1a1a
					font-size: 30px
					font-weight: 600
					line-height: 1em
					margin-bottom: 36px
				input
					display: block
					margin-bottom: 30px
					width: 100%
				.button-holder
					text-align: right
					button
						border: 4px solid $main-color
						padding: 15px 22px
						background: none
						text-transform: uppercase
						color: black
						font-size: 15px
						font-weight: 700
						letter-spacing: 0
						line-height: 1em
						margin-top: 10px
						transition: background .3s
						&:hover
							background: $main-color
							transition: background .1s

.subscribe.event-page
	margin-top: 114px
