
section.teachers.event-smart-teachers
	margin-top: 80px
	// margin-bottom: 10px

section.register-block
	margin-top: 22px
	margin-bottom: 136px
	&.first
		margin-top: 71px
		.section-label
			top: 8px
	.section-label
		@media (max-width: $mobile-large)
			margin-bottom: 20px
	.container
		font-size: 0
		letter-spacing: 0
	.description, .register-form
		display: inline-block
		vertical-align: top
		width: 50%
		@media (max-width: $mobile-large)
			width: 100%
	.description
		padding-right: 40px
		@media (max-width: $mobile-large)
			padding-right: 0
		p
			color: black
			font-size: 18px
			font-weight: 500
			// letter-spacing: 1px
			line-height: 30px
			margin-bottom: 30px
	.register-form
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)
		padding: 51px 60px 50px
		width: 48%
		@media (max-width: $mobile-large)
			box-shadow: none
			padding: 0
			width: 100%
		h2
			color: #1a1a1a
			font-size: 30px
			font-weight: 600
			line-height: 1em
			margin-bottom: 36px
			@media (max-width: $mobile-large)
				display: none
		input
			display: block
			margin-bottom: 30px
			width: 100%
		.button-holder
			text-align: right
			button
				border: 3px solid $main-color
				padding: 15px 22px
				background: none
				text-transform: uppercase
				text-align: center
				color: black
				font-size: 15px
				font-weight: 700
				letter-spacing: 0
				line-height: 1em
				margin-top: 10px
				transition: background .3s
				@media (max-width: $mobile-large)
					display: block
					width: 100%
				&:hover
					background: $main-color
					transition: background .1s

.subscribe.event-page
	margin-top: 114px

section.old-events
	font-size: 0
	letter-spacing: 0
	.event
		// h4, h3, p
		.image-container, .description-container
			display: inline-block
			vertical-align: top
		.image-container
		.description-container

section.all-events
	margin-top: 100px
	font-size: 0
	letter-spacing: 0
	@media (max-width: $mobile-large)
		margin-top: 161px
	.section-label
		top: 0
	.event
		margin-bottom: 78px
		@media (max-width: $mobile-large)
			margin-bottom: 144px
		h4
			color: black
			font-size: 18px
			font-weight: 400
			line-height: 1em
			letter-spacing: 1px
			margin-top: 5px
		h3
			color: black
			font-size: 25px
			font-weight: 600
			line-height: 30px
			margin-top: 15px
			// TODO verify it
			letter-spacing: 1px
			@media (max-width: $mobile-large)
				margin-top: 10px
				font-size: 25px
				line-height: 30px
				// font-weight: 500
		p, .address
			color: black
			font-size: 18px
			line-height: 30px
			font-weight: 500
			letter-spacing: 1px
			b
				font-weight: 700
		.address
			color: #000
			display: inline-block
			font-size: 18px
			font-weight: 400
			line-height: 30px
			position: absolute
			left: 100%
			white-space: nowrap
			bottom: -8px
			width: 50%
			@media (max-width: $mobile-large)
				padding: 20px 0
				position: static
				width: 100%
				white-space: normal
				display: none
			&:before
				background: url(../img/icons/pin-2.svg) no-repeat
				background-size: contain
				content: ''
				display: inline-block
				position: relative
				top: 4px
				height: 24px
				width: 25px
				@media (max-width: $mobile-large)
					display: none
			&:after
				content: ''
				background: black
				height: 3px
				left: 0px
				position: absolute
				top: -24px
				width: 45px
				@media (max-width: $mobile-large)
					display: none
		.image-container, .description-container
			display: inline-block
			vertical-align: top
		.image-container
			position: relative
			width: 28.9%
			@media (max-width: $mobile-large)
				width: 100%
			.image-holder
				min-height: 18vw
				width: 86.5%
				@media (max-width: $mobile-large)
					height: 191px
					min-height: 1px
					width: 100%
		.description-container
			width: 100% - 28.9%
			@media (max-width: $mobile-large)
				width: 100%
		.info-holder
			padding-right: 10%
			@media (max-width: $mobile-large)
				margin-top: 19px
				padding-right: 0
		.mobile-footer
			display: none
			position: relative
			margin-top: 71px
			@media (max-width: $mobile-large)
				display: block
			&:before
				content: ''
				background: black
				height: 3px
				left: 1px
				position: absolute
				top: -17px
				width: 45px
			.conditions
				display: inline-block
				width: 100%
				&, b, span
					color: black
					font-size: 18px
					font-weight: 700
					line-height: 30px
					letter-spacing: 0
				&
					line-height: 20px
				span
					display: block
					font-size: 15px
					line-height: 20px
					font-weight: 500
				b
					line-height: 27px
			.address
				color: black
				display: inline-block
				margin-top: -7px
				width: 100%
				&, b, span
					font-size: 18px
					font-weight: 600
					line-height: 30px
					letter-spacing: 0
				&
					line-height: 20px
				span
					display: block
					font-size: 15px
					line-height: 20px
					font-weight: 500
				b
					line-height: 25px
					font-weight: 900
					letter-spacing: 1px

	.button-holder
		margin-top: 80px
		text-align: left
		.btn
			min-width: 25%

section.old-events
	margin-top: 40px
	font-size: 0
	letter-spacing: 0
	@media (max-width: $mobile-large)
		margin-top: 5px
	.section-label
		top: 0
		@media (max-width: $mobile-large)
			margin-bottom: 17px
	.container
		@media (max-width: $mobile-large)
			margin: 0
			width: 100%
	.event
		background-color: #fafafa
		border: 1px solid #efefef
		@media (max-width: $mobile-large)
			margin-bottom: 60px
		h4
			color: black
			font-size: 18px
			font-weight: 400
			line-height: 1em
			letter-spacing: 1px
		h3
			font-size: 18px
			line-height: 30px
			color: black
			font-weight: 600
			letter-spacing: 0
		p, .address
			color: black
			font-size: 18px
			line-height: 30px
			font-weight: 500
			letter-spacing: 1px
			b
				font-weight: 700
		.label
			font-size: 18px
			line-height: 1em
			color: #bfbfbf
			font-weight: 400
			letter-spacing: 1px
			margin-bottom: 7px
			// color: black
			// font-weight: 500
			// letter-spacing: 0.72px
		.address
			color: #bfbfbf
			display: inline-block
			font-size: 18px
			font-weight: 400
			line-height: 30px
			position: absolute
			right: 100%
			white-space: nowrap
			bottom: 42px
			width: 100%
			width: calc(100% - 60px)
			@media (max-width: $mobile-large)
				position: static
				padding: 13px 0 2px
				white-space: normal
				width: 100%
			&:after
				content: ''
				background: black
				height: 3px
				left: 0px
				position: absolute
				top: -15px
				width: 45px
				@media (max-width: $mobile-large)
					position: static
			p
				color: inherit
				font-size: inherit
				font-weight: inherit
		.address-icon
			&:before
				background: url(../img/icons/pin-2.svg) no-repeat
				background-size: contain
				content: ''
				display: inline-block
				opacity: 0.3
				position: relative
				top: 4px
				height: 24px
				width: 25px
			@media (max-width: $mobile-large)
				display: none
		.image-container, .description-container
			display: inline-block
			vertical-align: top
			width: 50%
			@media (max-width: $mobile-large)
				width: 100%
		.image-container
			position: relative
			@media (max-width: $mobile-large)
				padding: 40px 20px 0
			.image-holder
				@media (max-width: $mobile-large)
					height: 191px
		.description-container
			padding: 48px 60px
			@media (max-width: $mobile-large)
				display: none
				padding: 40px 20px
		.mobile-footer
			display: none
			position: relative
			margin-top: 1
			@media (max-width: $mobile-large)
				display: block
				padding: 0 20px 26px
			.description
				color: black
				font-size: 25px
				font-weight: 600
				line-height: 30px
				position: relative
				margin-bottom: 72px
				&:after
					content: ''
					background: #bfbfbf
					height: 3px
					left: 0
					position: absolute
					bottom: -56px
					width: 45px
			.conditions
				display: inline-block
				width: 100%
				&, b, span
					color: #bfbfbf
					font-size: 18px
					font-weight: 700
					line-height: 20px
					letter-spacing: 1px
					letter-spacing: 0
				span
					display: block
					font-size: 15px
					line-height: 20px
					font-weight: 500
				b
					line-height: 27px
			.address
				color: #bfbfbf
				display: inline-block
				width: 50%
				margin-top: -3px
				width: 100%
				&, b, span
					font-size: 18px
					font-weight: 600
					line-height: 30px
					letter-spacing: 0
				&
					line-height: 20px
				span
					display: block
					font-size: 15px
					line-height: 20px
					font-weight: 500
				b
					line-height: 25px
					font-weight: 900
					letter-spacing: 1px
	.button-holder
		margin-top: 80px
		text-align: left
		@media (max-width: $mobile-large)
			padding: 0 20px
		.btn
			min-width: 25%
			@media (max-width: $mobile-large)
				width: 100%

section.programm-graph
	.section-label
		top: 2px
		@media (max-width: $mobile-large)
			margin-bottom: 28px
	.item
		margin-left: -26px
		padding-bottom: 70px
		position: relative
		// width: 50%
		@media (max-width: $mobile-large)
			margin-left: 0
		&:before
			content: ''
			position: absolute
			left: 23px
			top: 10px
			bottom: -10px
			background: whitesmoke
			z-index: -1
			width: 5px
			// border: 5px solid whitesmoke
		.image-container, .time-container, .description-container
			display: inline-block
			vertical-align: top
		.image-container
			width: 86px
			@media (max-width: $mobile-large)
				width: 56px
			.image-holder
				margin-top: -12px
				border-radius: 50%
				height: 50px
				width: 50px
		.no-image
			width: 16px
			height: 16px
			border: 3px solid #bfbfbf
			border-radius: 50%
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
		.time-container
			width: 88px
			span
				color: black
				font-size: 25px
				font-weight: 300
				line-height: 1em
				letter-spacing: 0
				position: relative
				bottom: -3px
		.description-container
			width: 50%
			width: calc(50% - 200px)
			@media (max-width: $mobile-large)
				padding-left: 62px
				width: 100%
			h3
				color: black
				font-size: 18px
				font-weight: 600
				line-height: 30px
				letter-spacing: 1px
				margin-bottom: 7px
				@media (max-width: $mobile-large)
					font-size: 15px
					line-height: 20px
					margin-bottom: 0
			p, .description
				color: #6e6e6e
				font-size: 15px
				font-weight: 400
				line-height: 20px
				letter-spacing: 0
				@media (max-width: $mobile-large)
					color: #bfbfbf
					font-size: 13px
					line-height: 20px
		&:first-child
			.no-image
				width: 25px
				height: 25px
				background-color: #f0f0f0
				border: 3px solid #bfbfbf
		&:last-child, .last
			&:before
				display: none

section.video-stream
	margin-top: 49px
	.section-label
		top: 0
	.video-stream-holder
		background: #000
		position: relative
		height: 585px
		display: table-cell
		vertical-align: middle
		&:after
			content: ''
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			background: rgba(0,0,0,0.4)
		.content-holder
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			text-align: center
			z-index: 1
			h2
				color: white
				font-size: 30px
				font-weight: 700
				line-height: 40px
			a.btn
				margin-top: 14px
				color: #fff
				letter-spacing: 0
				padding: 13px 24px
	.stream
		& > *
			width: 100%
	& + .article-share
		margin-top: 104px
