
.container
	margin: 0 60px 0 auto
	width: 72.4%
	@media (min-width: $fullHD)
		margin: 0 70px 0 auto
		width: 70.3%

//	SMALL
@media (max-width: $mobile-large)
	body::-webkit-scrollbar
		width: 0
		height: 0
		background-color: #fff
		border: none
	.container
		width: 100%
		width: calc(100% - 40px)
		margin: 0 auto
	.mobile-visible
		display: inherit !important
	.mobile-hidden
		display: none !important
	.mobile-xs-visible
		display: inherit
	.mobile-xs-hidden
		display: none


// --------------------------------------------------
// GLOBAL-MEDIA
// -------------------------------------------------- 
@media screen and (max-width: $mobile-medium)
	.mobile-visible
		display: block !important

//	FIXES
