$large: 1300px
$medium: 1260px
$tablet: 1000px
$mobile-large: 760px
$mobile-medium: 640px
$mobile-small: 480px
$mobile-x-small: 320px

// --------------------------------------------------
// MODALS
// --------------------------------------------------

.modal-holder
	a.close-modal, .close-modal
		background-size: 100%
		right: 0
		top: 0
		margin-top: 30px
		margin-right: 30px
		height: 24px
		width: 24px
		transition: top .1s
	&.cross-bottom
		a.close-modal, .close-modal
			top: auto
			bottom: 18px
			right: 18px

.modal-back
	cursor: pointer
	position: absolute
	top: 18px
	left: 20px
	height: 15px
	width: 22px
	background: url('../img/icons/modal-back.svg')
	background-size: 100%
	opacity: 0.5
	transition: opacity .3s
	&:hover
		opacity: 1
		transition: opacity .1s

#search-modal
	.section-label
		top: 96px
	.input-group
		margin-left: auto
		margin-right: auto
		position: relative
		padding-top: 64px
		max-width: 1300px
		.search-icon-1
			background-position: 50% 50%
			background: url(../img/icons/search-icon-1.svg) no-repeat
			background-size: contain
			display: block
			height: 52px
			position: absolute
			top: 80px
			width: 52px
			// float: left
		input[type="text"], input[type="password"], input[type="email"]
			border: none
			outline: none
			padding-left: 90px
			padding-right: 90px
			height: 50px
			width: 100%
			color: #35363c
			font-family: 'Futura New'
			font-size: 66px
			font-weight: 300
			line-height: 80px

			background-color: #f7f7f7
			border: 1px solid #e6e6e6
			&::-moz-placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder
				font-weight: 300
		&:after
			content: ''
			display: block
			background: url('../img/bg/bg-line-1.jpg')
			background-size: cover
			position: absolute
			left: 0
			bottom: -19px
			height: 3px
			width: 100%
	.result-group
		padding-top: 200px
@media screen and (max-width: $tablet)
	#search-modal
		.input-group
			padding-top: 76px
			.search-icon-1
				display: block
				top: 97px
				left: 17px
				height: 38px
				width: 38px
			input[type="text"], input[type="password"], input[type="email"]
				height: 68px
				padding-left: 62px
				font-size: 46px
				font-weight: 500
				&::-moz-placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder
					font-size: 46px
					font-weight: 500
		.result-group
			padding-top: 60px
@media screen and (max-width: $mobile-medium)
	#search-modal
		.input-group
			padding-top: 0
			.search-icon-1
				display: block
				left: 9px
				top: 26px
				height: 20px
				width: 20px
			input[type="text"], input[type="password"], input[type="email"]
				padding-left: 39px
				font-size: 46px
				font-weight: 500
				height: 59px
				line-height: 71px
				font-size: 22px
				font-weight: 500
				&::-moz-placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder
					font-size: 22px
					font-weight: 500
			&:after
				bottom: -2px
				height: 2px
		.result-group
			padding-top: 32px

#signup-modal,
#password-recovery,
#password-change,
#login-modal-email,
#login-modal
	background: rgba(255, 255, 255, .95)
	overflow: hidden
	&.opened
		.modal-content
			transform: translate3d(-50%, -50%, 0)
			// outline-color: #cdd1dc
	label
		display: block
		color: #35363c
		font-size: 16px
		font-weight: 300
		line-height: 19px
		margin-bottom: 10px
	input[type="text"], input[type="password"], input[type="email"]
		background-color: white
		border: 1px solid #636671
		outline: 2px solid transparent
		outline-offset: -1px
		height: 46px
		width: 320px
		color: #35363c
		font-size: 18px
		font-weight: 300
		line-height: 22px
		transition: outline .2s
		&:focus
			outline: 2px solid #35363c
			transition: outline .1s
		&::-moz-placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder
	button
		background: url('../img/bg/log_in.jpg')
		background-size: cover
		color: white
		font-family: 'Futura New'
		font-size: 20px
		font-weight: 700
		line-height: 46px
		margin-bottom: 20px
		padding: 0 40px
		position: relative
		&:before
			background: rgba(0,0,0,0.3)
			content: ''
			display: block
			left: 0
			top: 0
			height: 100%
			width: 100%
			opacity: 0
			position: absolute
			z-index: 0
			transition: opacity .3s
		&:hover:before
			opacity: 1
		span
			position: relative
	.button-group
		text-align: center
		a
			color: #636671
			font-family: 'Futura New'
			font-size: 16px
			font-weight: 700
			line-height: 1em
			transition: color .3s
			&:hover
				color: #35363c
				transition: color .1s
	.form-group
		margin-bottom: 30px
		.additional
			color: #636671
			font-family: 'Futura New'
			font-size: 12px
			font-weight: 300
			line-height: 14px
			margin-top: 4px
	.input-group
		position: relative
	.close-modal
		display: none
		margin-top: 8px
		margin-right: 8px
	.forgot-password
		color: #a6abbb
		font-family: 'Futura New'
		font-size: 16px
		font-weight: 500
		line-height: 1em
		position: absolute
		right: 20px
		bottom: 14px
		transition: color .3s
		&:hover
			color: #636671
	.modal-content
		background: #fff
		bottom: auto
		position: absolute
		padding: 0
		outline: 1px solid #cdd1dc
		outline-offset: -1px
		left: 50%
		right: auto
		top: 50%
		transform: translate3d(-50%, calc(-50% + 40px), 0)
		width: 560px
		.socials-login-container
			background-color: #39579a
			color: #fff
			color: white
			display: block
			font-family: 'Futura New'
			font-size: 18px
			font-weight: 300
			height: 54px
			line-height: 53px
			text-align: center
			position: relative
			width: 100%
			transition: background .3s
			b
				font-weight: 700
				line-height: 53px
			&:hover
				background-color: #0b2f7e
				transition: background .3s
			& ~ .modal-back
				top: 72px
		form
			padding: 50px 120px 40px
	.login-methoods-container
		padding: 68px 0 70px
		.logotype-holder
			margin-bottom: 45px
			img
				width: 124px
		.facebook-login-button, .email-login-button
			background-position: 50% 50%
			margin: 20px auto 20px
			width: 320px
			a
				color: white
				display: block
				font-family: 'Futura New'
				font-size: 20px
				font-weight: 300
				line-height: 24px
				padding: 14px 73px 18px
				position: relative
				z-index: 1
				b
					font-weight: 700
					line-height: 25px
			&:hover
				a
					color: white
		.facebook-login-button
			background-color: #39579a
			transition: background .3s
			&:hover
				background-color: #0b2f7e
		.email-login-button
			background-image: url('../img/bg/login_width_email.jpg')
			background-size: cover
			position: relative
			margin-bottom: 14px
			&:after
				background: rgba(0,0,0,0)
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				z-index: 0
				transition: background .3s
			&:hover:after
				background: rgba(0,0,0,0.3)

.safari
	#signup-modal,
	#password-recovery,
	#password-change,
	#login-modal-email,
	#login-modal
		.forgot-password
			// TODO test it
			// right: 40px
			right: 46px

@media screen and (max-width: 600px), screen and (max-height: 450px)
	#signup-modal,
	#password-recovery,
	#password-change,
	#login-modal-email,
	#login-modal
		background: #fff
		overflow: auto
		&.opened
			.modal-content
				border: none
				outline: none
				transform: translateY(0)
		.close-modal
			display: block
			bottom: auto
		input[type="text"], input[type="password"], input[type="email"]
			width: 100%
		.modal-content
			outline: none
			border: none
			position: static
			transform: translateY(40px)
			height: 100%
			width: 100%
			.socials-login-container
				margin-left: 32px
				margin-right: 32px
				position: relative
				bottom: -92px
				width: 100%
				width: calc(100% - 64px)
				font-size: 18px
				font-weight: 300
				font-weight: 100
				b
					font-weight: 700
				& ~ .modal-back
					top: 30px
					left: 32px
			form
				padding: 120px 32px 40px

#signup-modal
	input[type="text"], input[type="password"], input[type="email"]
		border: 1px solid #35363c
	button
		background: url('../img/bg/log_in.jpg')
		background-size: cover
		padding-left: 68px
		padding-right: 68px
#password-change,
#password-recovery
	.close-modal
		bottom: auto
		top: 0
		display: block

@media screen and (max-width: 600px), screen and (max-height: 450px)
	#signup-modal
		button
			width: 100%
	#password-change,
	#password-recovery
		background: #fff
		.close-modal

.profile-messages-modal
	position: absolute
	display: block
	width: 100%
	background-color: #fff
	padding: 33px 18px
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1)
	right: 41px
	top: 51px
	width: 382px
	z-index: 1002

	// closed
	opacity: 0
	pointer-events: none
	max-height: 0
	max-width: 0
	overflow: hidden
	transition: opacity .6s .6s, max-height .6s .12s, max-width .6s .6s
	@media (max-width: $tablet)
		right: 59px
		top: 1px
	a.image-holder
		display: block
	a
		margin: 0
		margin-left: 0
		margin-right: 0
		padding: 0
	.profile-icon
		position: absolute
		right: 22px
		top: 19px
		.badge
			background-size: contain
			background: url('../img/icons/badge-icon-1.svg') 50% 50% no-repeat
			color: white
			font-size: 13px
			font-weight: 700
			height: 33px
			letter-spacing: 0
			line-height: 1em
			min-width: 32px
			padding: 11px 11px 9px 9px
			position: absolute
			right: -18px
			text-align: center
			top: -11px
		.profile-image
			background-position: 50% 50%
			background-size: cover
			border-radius: 50%
			height: 40px
			width: 40px
	.profile-messages-header, .profile-messages-footer
		color: #9e9e9e
		display: block
		font-size: 15px
		font-weight: 600
		line-height: 20px
		text-align: left
		letter-spacing: 0
		white-space: nowrap
		a
			display: inline-block
			color: inherit
			font-size: inherit
			font-weight: inherit
			line-height: inherit
			letter-spacing: inherit
			margin: 0
			padding: 0
	.profile-messages-header
		margin-bottom: 28px
		width: inherit
	.profile-messages-footer
		text-align: center
		margin-top: 10px
	.messages-list
		display: block
		width: 100%
	.message
		font-size: 0
		letter-spacing: 0
		margin-bottom: 25px
		.image-container, .feed-description
			display: inline-block
			vertical-align: top
		.image-container
			margin-right: 20px
			margin-top: 6px
			width: 60px
			.image-holder
				box-shadow: 0 0 4px rgba(0, 0, 0, 0.19)
		.feed-description
			width: 262px
			a, p
				display: block
				font-size: 13px
				line-height: 20px
				color: #9e9e9e
				font-weight: 600
				letter-spacing: 0
				b
					color: black
					font-weight: 600
	&.opened
		pointer-events: all
		opacity: 1
		// TODO remove it
		// opacity: 0.5
		// filter: invert(1)
		max-height: 800px
		max-width: 400px
		transition: opacity .6s 0s, max-height .6s .6s, max-width .6s .12s

section.add-homework-modal
	.left-side
		width: 25px
		.side-label
			span
		.description
			span, p
		.load-file-container
			border: 5px solid $main-color
			input
				opacity: 0
	.right-side
		.form-group
			.label
			.input-group
