doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.error-404
			.background-holder
				img(src="img/content/404.jpg")
			.content-holder
				.letters-holder
					span 4
					span 4
				.button-holder
					a(href="index.html").btn вернуться на главную

		include ./partials/footer.jade

		include ./partials/modals.jade

	include ./partials/scripts.jade
