doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.about-page
			.container
				.section-label
					//- span about
					img(src="img/icons/side-labels/about-alt.svg", alt="about")
				.content-holder
					.section-label
						span about
					h3 MEAT STUDIES
					p Это ведущий в Украине образовательный проект, посвященный креативным специальностям. <br /> Мы верим: лучшая учеба — это практика. Поэтому формат обучения в Meat studies не ограничивается лекциями и теорией. <br /> Это пространство постоянного взаимодействия идей и их воплощения. Если ты хочешь стать частью креативной индустрии — добро пожаловать к нам.

		section.process
			.section-label.mobile-right
					span process
					img(src="img/icons/side-labels/process.svg", alt="process")
			.container
				.content-holder
					.video
						img(src="http://meatstudies.com/storage/app/uploads/public/56b/1c1/ef5/56b1c1ef5a179472959108.jpg", alt="video")

		section.teachers
			.section-label.mobile-center
					span teachers
					img(src="img/icons/side-labels/teachers.svg", alt="teachers")
			.container
				ul.teachers-holder
					mixin teacher(name, profession, description, image)
						li.teacher
							.image-container
								.image-holder
									img(src= image, alt= name)
							.description-container
								h3= name
								h4= profession
								p= description
								ul.socials-holder
									li
										a(href="#")
											i.fa.fa-vk
									li
										a(href="#")
											i.fa.fa-facebook
									li
										a(href="#")
											i.fa.fa-instagram
					+teacher(
						'Антон Денисенко',
						'Преподователь Art',
						'Участник группы Собор святой марии',
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_blue_hair_couleur_cheveux-_rose_bleu_colorful-_pastel_hairs20.jpg?w=581'
						)
					+teacher('Маша Не Каша',
						'Не каша',
						'Суп, картошка, салат, укроп петрушка, торт',
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs-12.jpg?w=646'
						)
					+teacher('Артур Гимальдинов',
						'Преподователь Art',
						'Созадтель мировой корпорации, рисуй или рисуй',
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs14.jpg?resize=198%2C300'
						)
					+teacher('Шмакс Шмерехин',
						'Мастер боевых искусств',
						'Мировой победитель в мировом мире',
						'http://i2.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs11.jpg?resize=200%2C300'
						)
					+teacher('Эуген Моцарт',
						'Преподователь Art',
						'Участник группы Собор святой марии',
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs3.jpg?resize=224%2C300'
						)
					+teacher('Панда Конгу Фу',
						'Мастер боевых искусств',
						'Любитель поспать и бамбука,  лапшу не предлагать',
						'http://i1.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/orange_rose_hair_couleur_cheveux-_peche_orange_pink_colorful-_pastel_hairs1.jpg?fit=520%2C816'
						)
				.button-holder
					a(href="#").btn.load-more показать еще

		section.place
			.section-label.mobile-center
					span place
					img(src="img/icons/side-labels/place.svg", alt="place")
			.container
				h3 Prostir 86
				.gallery-holder
					.slider-wrapper
						.address-bar
							.image-holder
								img.map(src="img/content/map-1.png", alt="map")
							.address-holder
								p г. Киев
								p ул. Малевича, 86П
							.controls
								.arrow-left
								.state
									.current 8
									.separator /
									.from 22
								.arrow-right
						.main-image
							.image-holder
								img.fake-img(src="http://meatstudies.com/storage/app/uploads/public/575/ee2/a47/575ee2a4740cf915726881.jpg", alt="main image")
								.img(style="background-image:url(http://meatstudies.com/storage/app/uploads/public/575/ee2/a47/575ee2a4740cf915726881.jpg)")
					.images-gallery
						mixin image-thumb-list(url, alt, active)
							li( class= active ? 'active' : '' )
								.image-holder
									img(src= url, alt= alt)
						ul
							+image-thumb-list(
								'http://meatstudies.com/storage/app/uploads/public/575/ee2/a47/575ee2a4740cf915726881.jpg',
								'place',
								true
							)
							+image-thumb-list(
								'http://meatstudies.com/storage/app/uploads/public/575/ee2/a47/575ee2a4740cf915726881.jpg',
								'place'
							)
							+image-thumb-list(
								'http://meatstudies.com/storage/app/uploads/public/575/ee2/a47/575ee2a4740cf915726881.jpg',
								'place'
							)
							+image-thumb-list(
								'http://meatstudies.com/storage/app/uploads/public/575/ee2/a47/575ee2a4740cf915726881.jpg',
								'place'
							)
					.controls-mobile
						.arrow-left
						.state
							.current 8
							.separator /
							.from 22
						.arrow-right

		section.ask
			.section-label
				span ask
				img(src="img/icons/side-labels/ask.svg", alt="ask")
			.container
				form(action="#")
					input(type="text", placeholder="E-mail")
					textarea(placeholder="Вопрос или предложение")
					button.type-1 узнать
				.description
					p Это ведущий в Украине образовательный проект, посвященный креативным специальностям.
					p Если ты хочешь стать частью креативной индустрии — добро пожаловать к нам.

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
