doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.about-page
			.container
				.section-label
					//- span about
					img(src="img/icons/side-labels/about-alt.svg", alt="about")
				.content-holder
					h3 MEAT STUDIES
					p Это ведущий в Украине образовательный проект, посвященный креативным специальностям. <br /> Мы верим: лучшая учеба — это практика. Поэтому формат обучения в Meat studies не ограничивается лекциями и теорией. <br /> Это пространство постоянного взаимодействия идей и их воплощения. Если ты хочешь стать частью креативной индустрии — добро пожаловать к нам.

		section.process
			.section-label
					img(src="img/icons/side-labels/process.svg", alt="process")
			.container
				.content-holder
					.video
						img(src="http://meatstudies.com/storage/app/uploads/public/56b/b6b/07c/56bb6b07ca95c529819270.jpg", alt="video")

		section.teachers
			.section-label
					img(src="img/icons/side-labels/teachers.svg", alt="teachers")
			.container
				ul.teachers-holder
					mixin teacher(name, profession, description, image)
						li.teacher
							.image-container
								.image-holder
									img(src= image, alt= name)
							.description-container
								h3= name
								h4= profession
								p= description
								ul.socials-holder
									li
										a(href="#")
											i.fa.fa-vk
									li
										a(href="#")
											i.fa.fa-facebook
									li
										a(href="#")
											i.fa.fa-instagram
					+teacher(
						'Антон Денисенко',
						'Преподователь Art',
						'Участник группы Собор святой марии',
						'http://findicons.com/files/icons/1072/face_avatars/300/i05.png'
						)
					+teacher('Маша Не Каша',
						'Не каша',
						'Суп, картошка, салат, укроп петрушка, торт',
						'http://findicons.com/files/icons/1072/face_avatars/300/i05.png'
						)
					+teacher('Артур Гимальдинов',
						'Преподователь Art',
						'Созадтель мировой корпорации, рисуй или рисуй',
						'http://findicons.com/files/icons/1072/face_avatars/300/i05.png'
						)
					+teacher('Шмакс Шмерехин',
						'Мастер боевых искусств',
						'Мировой победитель в мировом мире',
						'http://findicons.com/files/icons/1072/face_avatars/300/i05.png'
						)
					+teacher('Эуген Моцарт',
						'Преподователь Art',
						'Участник группы Собор святой марии',
						'http://findicons.com/files/icons/1072/face_avatars/300/i05.png'
						)
					+teacher('Панда Конгу Фу',
						'Мастер боевых искусств',
						'Любитель поспать и бамбука,  лапшу не предлагать',
						'http://findicons.com/files/icons/1072/face_avatars/300/i05.png'
						)
				.button-holder
					a(href="#").btn.load-more показать еще

		section.place
			.section-label
					img(src="img/icons/side-labels/place.svg", alt="place")
			.container
				h3 Prostir 86
				.gallery-holder
					.slider-wrapper
						.address-bar
							.image-holder
								img.map(src="img/content/map-1.png", alt="map")
							.address-holder
								p г. Киев
								p ул. Малевича, 86П
							.controls
								.arrow-left
								.state
									.current 8
									.separator /
									.from 22
								.arrow-right
						.main-image
							.image-holder
								img.fake-img(src="http://meatstudies.com/storage/app/uploads/public/56b/b6b/084/56bb6b08488d5537693109.jpg", alt="main image")
								.img(style="background-image:url(http://meatstudies.com/storage/app/uploads/public/56b/b6b/084/56bb6b08488d5537693109.jpg)")
					.images-gallery
						mixin image-thumb-list(url, alt, active)
							li( class= active ? 'active' : '' )
								.image-holder
									img(src= url, alt= alt)
						ul
							+image-thumb-list(
								'http://meatstudies.com/storage/app/uploads/public/56b/b6b/084/56bb6b08488d5537693109.jpg',
								'place',
								true
							)
							+image-thumb-list(
								'http://meatstudies.com/storage/app/uploads/public/56b/b6b/084/56bb6b08488d5537693109.jpg',
								'place'
							)
							+image-thumb-list(
								'http://meatstudies.com/storage/app/uploads/public/56b/b6b/084/56bb6b08488d5537693109.jpg',
								'place'
							)
							+image-thumb-list(
								'http://meatstudies.com/storage/app/uploads/public/56b/b6b/084/56bb6b08488d5537693109.jpg',
								'place'
							)

		section.ask
			.section-label
				img(src="img/icons/side-labels/ask.svg", alt="ask")
			.container
				form(action="#")
					input(type="text", placeholder="E-mail")
					textarea(placeholder="Вопрос или предложение")
					button.type-1 узнать
				.description
					p Это ведущий в Украине образовательный проект, посвященный креативным специальностям.
					p Если ты хочешь стать частью креативной индустрии — добро пожаловать к нам.

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
