html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.blog.single
			.section-label
					img(src="img/icons/side-labels/blog.svg", alt="about")
			.container
				include ./partials/blog.jade

			.pagination
				ul
					li.arrow-left
						a(href="#")
					li.active 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li ...
					li
						a(href="#") 20
					li.arrow-right
						a(href="#")

			.load-more-holder
				a.btn.load-more
					span показать больше

		include ./partials/footer.jade

		include ./partials/modals.jade

	include ./partials/scripts.jade
