doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
