- var headerclass = 'invert'
- var footerclass = 'event-page'
doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.event-head
			.tint
			.container
				.content-holder
					.title-yellow 21 Марта / 18:00
					h2 Лофт Мастер карате и джиу-танго
					.footer
						.conditions Вход свободный (По регистрации)
						.address
							b Prostir 86
							span ул. Малевича 86

		section.register-block.first
			.section-label
				img(src="img/icons/side-labels/about-alt.svg", alt="about")
			.container
				.content-holder
					.description
						p Ура, дизайнеры сайтов на коне. Мир стал цифровым, молекулы превратились в 0 и 1. Теперь всем нужны не пластинки Элвиса Пресли, а качественные сайты для развития бизнеса.
						p Войти в профессию несложно, если у вас достаточно энергии и упорства (заметьте, мы ничего не пишем про художественное образование и супер-способности). Но дорогу от дебюта до первой сильной работы можно сократить в разы. Чем мы и займемся.

					form.register-form(action="#")
						h2 РЕГИСТРАЦИЯ
						input(type="text" placeholder="Имя+Фамилия")
						input(type="text" placeholder="Email")
						input(type="text" placeholder="Номер телефона")
						.button-holder
							button(type='submit') посетить мероприятие

		section.programm-graph
			.section-label
				span program
				img(src="img/icons/side-labels/program.svg", alt="program")
			.container
				ul.graph-holder
					mixin graph-item (image, time, name, description, last)
						li.item(class= last ? 'last' : '')
							.image-container
								if image
									.image-holder
										img.fake-img(src= image, alt= name)
										.img(style= 'background-image:url(' + image + ')')
								else
									.image-holder
										.no-image
							.time-container
								span= time
							.description-container
								h3= name
								p.description= description

					+graph-item(
						false,
						'11:00',
						'Регистрация',
						''
					)
					+graph-item(
						'http://i1.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/orange_rose_hair_couleur_cheveux-_peche_orange_pink_colorful-_pastel_hairs1.jpg?fit=520%2C816',
						'14:30',
						'Въячеслав Воронеж:',
						'Жизнь после смерти, секс после еды, молоко с печеньем'
					)
					+graph-item(
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs3.jpg?resize=224%2C300',
						'14:30',
						'Въячеслав Воронеж:',
						'Жизнь после смерти, секс после еды, молоко с печеньем'
					)
					+graph-item(
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs3.jpg?resize=224%2C300',
						'14:30',
						'Въячеслав Воронеж:',
						'Жизнь после смерти, секс после еды, молоко с печеньем'
					)
					+graph-item(
						false,
						'14:30',
						'Въячеслав Воронеж:',
						'Жизнь после смерти, секс после еды, молоко с печеньем'
					)
					+graph-item(
						'http://i2.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs11.jpg?resize=200%2C300',
						'14:30',
						'Въячеслав Воронеж:',
						'Жизнь после смерти, секс после еды, молоко с печеньем'
					)
					+graph-item(
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs-12.jpg?w=646',
						'14:30',
						'Въячеслав Воронеж:',
						'Жизнь после смерти, секс после еды, молоко с печеньем'
					)
					+graph-item(
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs14.jpg?resize=198%2C300',
						'14:30',
						'Въячеслав Воронеж:',
						'Жизнь после смерти, секс после еды, молоко с печеньем'
					)
					+graph-item(
						false,
						'14:30',
						'Опыты над людьми'
					)
					+graph-item(
						'http://i1.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_lavander_hair_couleur_cheveux-_rose_colorful-_pastel_hairs21.jpg?w=545',
						'14:30',
						'Въячеслав Воронеж:',
						'Жизнь после смерти, секс после еды, молоко с печеньем'
					)
					+graph-item(
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_blue_hair_couleur_cheveux-_rose_bleu_colorful-_pastel_hairs20.jpg?w=581',
						'14:30',
						'Въячеслав Воронеж:',
						'Жизнь после смерти, секс после еды, молоко с печеньем',
						true
					)
		section.video-stream
			.section-label.mobile-right
				span stream
				img(src="img/icons/side-labels/stream.svg", alt="stream")
			.container
				.video-stream-holder
					.stream
						img(src="http://meatstudies.com/storage/app/uploads/public/56b/1c1/ef5/56b1c1ef5a179472959108.jpg", alt="stream")
					.content-holder
						h2 Лофт Мастер карате и джиу-танго
						a.btn(href="#") подписаться на видеотрансляцию

		section.article-share
			.container
				.label share
				mixin share (social, link, count)
					li(class= count ? 'active' : '')
						a(href= link ? link : '#')
							i(class= 'fa fa-' + social)
							if count
								span.count= count
				ul
					+share(
						'facebook'
					)
					+share(
						'vk'
					)
					+share(
						'twitter'
					)
					+share(
						'envelope',
						'',
						'25'
					)

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
