doctype html
html(lang='en')
	head
		title MEAT Studies 2

		include ./partials/head.jade

	body
		include ./partials/navigation.jade

		section.profile-top
			mixin profilemenu(href, text, active)
				li( class= active ? 'active' : '' )
					a( href= href )= text
			.profilemenu
				ul
					+profilemenu('#', 'bookmarks')
					+profilemenu('#', 'video')
					+profilemenu('#', 'course', true)
					+profilemenu('#', 'homework')
			.profilemenu-mobile
				.active-element
					a(href="#") bookmarks
				ul
					+profilemenu('#', 'bookmarks')
					+profilemenu('#', 'video')
					+profilemenu('#', 'course', true)
					+profilemenu('#', 'homework')
			.container
				.user-info
					.image-container
						.image-holder
							img(src='img/content/profile-image-1.png')
					.description-container
						.description-heading
							h1 Валентин Дядька
							.type-marker 
								span.marker-text UI+UX
						.contacts-holder
							a(href="mailto:VDyaydke@mail.ru") VDyaydke@mail.ru
							a(href="tel:+38 075 466 24 13") +38 075 466 24 13
						ul.socials
							li
								a(href='#')
									i.fa.fa-instagram
				.edit-btn-holder
					button.type-1 РЕДАКТИРОВАТЬ

		section.homeworks
			.container
				ul.breadcrumb
					li
						span HOMEWORK
					li
						span Лекция 1: Вводная
				ul.homeworks-list
					mixin work (name, workImage, userImage, you)
						li.work
							.image-holder.case-image
								img.fake-img(src= workImage, alt= name)
								.img(style="background-image:url(" + workImage + ")")
							.description-holder
								.image-holder
									img(src= userImage, alt= name)
								.name-holder
									.name= name
									if you
										.name-label (Это вы)

					li.work.upload-work
						label.image-holder.upload-label
							.upload-icon-holder
								img(src="img/icons/upload-icon-1.svg", alt="")
							.label-holder
								span ЗАГРУЗИТЬ<br />ДОМАШНЕЕ ЗАДАНЕ
						.description-holder
							.image-holder
								img(src= 'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs14.jpg?resize=198%2C300', alt= 'name')
							.name-holder
								.name Валентин Дядька
								.name-label (Это вы)

					+work (
						'Валентин Дядька',
						'http://ramilrama.com/img/portfolio/portfolio-bg-360-1.png',
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs3.jpg?resize=100%2C100'
					)
					+work (
						'Валентин Дядька',
						'http://ramilrama.com/img/portfolio/portfolio-bg-ulo-1white.jpg',
						'http://i2.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs11.jpg?resize=200%2C300'
					)
					+work (
						'Валентин Дядька',
						'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-1.jpg',
						'http://i1.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/orange_rose_hair_couleur_cheveux-_peche_orange_pink_colorful-_pastel_hairs1.jpg?fit=520%2C816'
					)
					+work (
						'Валентин Дядька',
						'http://ramilrama.com/img/portfolio/portfolio-bg-ulo-1white.jpg',
						'http://i1.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_lavander_hair_couleur_cheveux-_rose_colorful-_pastel_hairs21.jpg?w=545'
					)
					+work (
						'Валентин Дядька',
						'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-3-1.jpg',
						'http://i1.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/orange_rose_hair_couleur_cheveux-_peche_orange_pink_colorful-_pastel_hairs1.jpg?fit=520%2C816'
					)

		include ./partials/footer.jade
	include ./partials/scripts.jade
