- var mainpage = true
- var headerclass = 'invert'
doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.main-video
			.video-holder
				img(src="http://meatstudies.com/storage/app/uploads/public/56b/b6b/084/56bb6b08488d5537693109.jpg", alt="video")
			.content-holder
				.header
					h2 Курсы, бурсы, тусы ты всегда в плюсе бомбастер
				.description
					.when 13:00 / 14 Марта
					h4 Совсем сошел с ума этот Мак Дак
					.address <b>Prostir 86 </b>г. Киев, ул. Малевича, 86П

		section.courses
			.section-label
				//- span courses
				img(src="img/icons/side-labels/courses.svg", alt="courses")
			.container
				.courses-row
					.course
						.image-holder
							//- TODO remove class "temp" on template
							img.temp(src="img/content/course-1.svg", alt="course")
						.when 4 МЕСЯЦА
						.price 3 600 грн / мec
						a(href="course.html") Записаться на сентябрь
					.course
						.image-holder
							//- TODO remove class "temp" on template
							img.temp(src="img/content/course-2.svg", alt="course")
						.when 2 МЕСЯЦА
						.price 3 600 грн / мec
						a(href="course.html") Записаться на Июль
					.course
						.image-holder
							//- TODO remove class "temp" on template
							img.temp(src="img/content/course-3.svg", alt="course")
						.when 4 МЕСЯЦА
						.price 3 600 грн / мec
						a(href="course.html") Записаться на январь
					.course
						.image-holder
							//- TODO remove class "temp" on template
							img.temp(src="img/content/course-4.svg", alt="course")
						.when 2 МЕСЯЦА
						.price 3 600 грн / мec
						a(href="course.html") Запись на октябрь
				.see-all
					a(href="courses.html")
						span смотреть все курсы

		section.about
			.section-label
					img(src="img/icons/side-labels/about.svg", alt="about")
			.container
				.content-holder
					.left-side
						h3 MEAT STUDIES
						p Это ведущий в Украине образовательный проект, посвященный креативным специальностям. <br /> <br /> Мы верим: лучшая учеба — это практика. Поэтому формат обучения в Meat studies не ограничивается лекциями и теорией.
					.right-side
						ul.list
							li
								.image-holder
									img(src="img/content/place-icon-content-1.svg", alt="place")
								.description
									span Учителя
							li
								.image-holder
									img(src="img/content/place-icon-content-1.svg", alt="place")
								.description
									span Процесс
							li
								.image-holder
									img(src="img/content/place-icon-content-1.svg", alt="place")
								.description
									span Место

		section.blog
			.section-label
					img(src="img/icons/side-labels/blog.svg", alt="about")
			.container
				.content-holder
					include ./partials/blog.jade

		section.video
			.section-label
					img(src="img/icons/side-labels/video.svg", alt="video")
			.container
				.content-holder
					.videos
						ul
							li
								.card
									.image-holder
										img(src="img/content/videocourse-card-1.svg", alt="course")
									.description
										.duration 15 уроков по 30 мин.
										.price 2 000 грн / 80 usd
								a(href="video.html").more
									| подробнее о видеокурсе
								.image-holder
									img.fake-img(src="http://meatstudies.com/storage/app/uploads/public/56b/b6b/084/56bb6b08488d5537693109.jpg", alt="article")
									.img(style="background-image:url(http://meatstudies.com/storage/app/uploads/public/56b/b6b/084/56bb6b08488d5537693109.jpg)")
						.controls
							.arrow.left
								img(src="img/icons/slider-arrow-left-1.svg", alt="arrow")
							.name
								| UI+UX
							.arrow.right
								img(src="img/icons/slider-arrow-right-1.svg", alt="arrow")


		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
