- var mainpage = true
- var headerclass = 'invert'
doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.main-video
			.video-holder
				img(src="http://meatstudies.com/storage/app/uploads/public/56b/1c1/ef5/56b1c1ef5a179472959108.jpg", alt="video")
				//- span video
			.content-holder.container
				.header
					h2 Курсы, бурсы, тусы ты всегда в плюсе бомбастер
				.description
					.when 13:00 / 14 Марта
					h4 Совсем сошел с ума этот Мак Дак
					.address <b>Prostir 86 </b>г. Киев, ул. Малевича, 86П

		section.courses
			.section-label.mobile-right
				span courses
				img(src="img/icons/side-labels/courses.svg", alt="courses")
			.container
				.courses-row
					.course(data-name="UX+UI")
						.image-holder
							//- TODO remove class "temp" on template
							img.fake-img.temp(src="img/content/course-1.svg", alt="course")
							.img.temp(style="background-image:url(img/content/course-1.svg)")
						.when 4 МЕСЯЦА
						.price 3 600 грн / мec
						a(href="course.html") Записаться на сентябрь
					.course(data-name="Frontend")
						.image-holder
							//- TODO remove class "temp" on template
							img.fake-img.temp(src="img/content/course-2.svg", alt="course")
							.img.temp(style="background-image:url(img/content/course-2.svg)")
						.when 2 МЕСЯЦА
						.price 3 600 грн / мec
						a(href="course.html") Записаться на Июль
					.course(data-name="Identify")
						.image-holder
							//- TODO remove class "temp" on template
							img.fake-img.temp(src="img/content/course-3.svg", alt="course")
							.img.temp(style="background-image:url(img/content/course-3.svg)")
						.when 4 МЕСЯЦА
						.price 3 600 грн / мec
						a(href="course.html") Записаться на январь
					.course(data-name="Backend")
						.image-holder
							//- TODO remove class "temp" on template
							img.fake-img.temp(src="img/content/course-4.svg", alt="course")
							.img.temp(style="background-image:url(img/content/course-4.svg)")
						.when 2 МЕСЯЦА
						.price 3 600 грн / мec
						a(href="course.html") Запись на октябрь
					.course(data-name="Frontend")
						.image-holder
							//- TODO remove class "temp" on template
							img.fake-img.temp(src="img/content/course-2.svg", alt="course")
							.img.temp(style="background-image:url(img/content/course-2.svg)")
						.when 2 МЕСЯЦА
						.price 3 600 грн / мec
						a(href="course.html") Записаться на Июль
				.see-all
					a(href="courses.html")
						span смотреть все курсы
			.mobile-controls-holder
				.controls
					.arrow.left
						img(src="img/icons/slider-arrow-left-1.svg", alt="arrow")
					.names-holder
					.arrow.right
						img(src="img/icons/slider-arrow-right-1.svg", alt="arrow")

		section.about
			.section-label
				span about
				img(src="img/icons/side-labels/about.svg", alt="about")
			.container
				.content-holder
					.left-side
						.mobile-label
							span about
						h3 MEAT STUDIES
						p Это ведущий в Украине образовательный проект, посвященный креативным специальностям. <br /> <br /> Мы верим: лучшая учеба — это практика. Поэтому формат обучения в Meat studies не ограничивается лекциями и теорией.
					.right-side
						ul.list
							li
								.image-holder
									img(src="img/content/place-icon-content-1.svg", alt="place")
								.description
									span Учителя
							li
								.image-holder
									img(src="img/content/place-icon-content-1.svg", alt="place")
								.description
									span Процесс
							li
								.image-holder
									img(src="img/content/place-icon-content-1.svg", alt="place")
								.description
									span Место

		section.blog
			.section-label
				span blog
				img(src="img/icons/side-labels/blog.svg", alt="blog")
			.container
				.content-holder
					include ./partials/blog.jade

		section.video
			.section-label
				img(src="img/icons/side-labels/video.svg", alt="video")
			.container
				.content-holder
					.videos
						ul.slider-holder
							li.slide(data-name="UI+UX")
								.card
									.image-holder
										img(src="img/content/videocourse-card-1.svg", alt="course")
									.description
										.duration 15 уроков по 30 мин.
										.price 2 000 грн / 80 usd
								a(href="video.html").more
									| подробнее о видеокурсе
								.image-holder
									img.fake-img(src="http://meatstudies.com/storage/app/uploads/public/56b/1c1/ef5/56b1c1ef5a179472959108.jpg", alt="article")
									.img(style="background-image:url(http://meatstudies.com/storage/app/uploads/public/56b/1c1/ef5/56b1c1ef5a179472959108.jpg)")
							li.slide(data-name="Frontend")
								.card
									.image-holder
										img(src="img/content/videocourse-card-1.svg", alt="course")
									.description
										.duration 15 уроков по 30 мин.
										.price 2 000 грн / 80 usd
								a(href="video.html").more
									| подробнее о видеокурсе
								.image-holder
									img.fake-img(src="http://meatstudies.com/storage/app/uploads/public/56b/1c1/ef5/56b1c1ef5a179472959108.jpg", alt="article")
									.img(style="background-image:url(http://meatstudies.com/storage/app/uploads/public/56b/1c1/ef5/56b1c1ef5a179472959108.jpg)")
							li.slide(data-name="Design")
								.card
									.image-holder
										img(src="img/content/videocourse-card-1.svg", alt="course")
									.description
										.duration 15 уроков по 30 мин.
										.price 2 000 грн / 80 usd
								a(href="video.html").more
									| подробнее о видеокурсе
								.image-holder
									img.fake-img(src="http://meatstudies.com/storage/app/uploads/public/56b/1c1/ef5/56b1c1ef5a179472959108.jpg", alt="article")
									.img(style="background-image:url(http://meatstudies.com/storage/app/uploads/public/56b/1c1/ef5/56b1c1ef5a179472959108.jpg)")
						.controls
							.arrow.left
								img(src="img/icons/slider-arrow-left-1.svg", alt="arrow")
							.names-holder
							.arrow.right
								img(src="img/icons/slider-arrow-right-1.svg", alt="arrow")

		section.video-mobile.cards-slider
			.section-label.mobile-center
				span video courses
			.container
				.content-holder
					mixin card(name, duration, price, image, btn)
						li.card(data-name= name)
							.image-holder.card-image
								//- img.fake-img(src= image, alt= name)
								.img(style="background-image:url(" + image + ")")
							.description
								.duration= duration
								.price= price
								a.btn(href="#")= btn
					ul.videos
						+card(
							"UI+UX",
							"15 уроков по 30 мин.",
							"2 000 грн / 80 usd",
							"img/content/mobile-slider-1.jpg",
							"подробнее о видеокурсе"
						)
						+card(
							"UX+UI",
							"15 уроков по 30 мин.",
							"2 000 грн / 80 usd",
							"img/content/mobile-slider-2.jpg",
							"подробнее о видеокурсе"
						)
						+card(
							"FX+UX",
							"15 уроков по 30 мин.",
							"2 000 грн / 80 usd",
							"img/content/mobile-slider-3.jpg",
							"подробнее о видеокурсе"
						)
						+card(
							"2+2",
							"15 уроков по 30 мин.",
							"2 000 грн / 80 usd",
							"img/content/mobile-slider-4.jpg",
							"подробнее о видеокурсе"
						)


		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
