doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body
		include ./partials/navigation.jade

		.todo-remove-it-test-modal#mobile-menu
			.modal-content
				.modal-container
					.popup-navigation
						ul.navigation-pannel
							li
								a(href="search-modal.html" data-modal="#search-modal")
									span Поиск
							li
								a(href="signup-modal.html" data-modal="#signup-modal")
									span Регистрация
							li
								a(href="login-modal.html" data-modal="#login-modal")
									span Вход
							li
								a(href="categories-modal.html" data-modal="#categories-modal")
									span Список категорий

		include ./partials/modals.jade

	include ./partials/scripts.jade
