doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body
		include ./partials/navigation.jade

		section.profile-top
			.profilemenu
				mixin profilemenu(href, text, active)
					li
						a(href= href, class= active ? 'active' : '')= text

				ul
					+profilemenu('#', 'BOOKMARKS')
					+profilemenu('#', 'VIDEO')
					+profilemenu('#', 'COURSE', true)
					+profilemenu('#', 'HOMEWORK')
			.container
				.user-info
					.image-container
						.image-holder
							img(src='img/content/profile-image-1.png')
					.description-container
						.description-heading
							h1 Валентин Дядька
							.type-marker 
								span.marker-text UI+UX
						.contacts-holder
							a(href="mailto:VDyaydke@mail.ru") VDyaydke@mail.ru
							a(href="tel:+38 075 466 24 13") +38 075 466 24 13
						ul.socials
							li
								a(href='#')
									i.fa.fa-instagram
				.edit-btn-holder
					button.type-1 РЕДАКТИРОВАТЬ

		section.download-materials
			.container
				.downds-header
						.h-holder
							h1 UI+UX COURSE
						.upload-material-holder
							a(href="#")
								img(src="img/icons/upload-icon-1.svg", alt="")
								span загрузить материал
				.downloads.materials
					.down-item
						.image-container
							.image-holder
								img(src="http://ramilrama.com/img/portfolio/portfolio-bg-360-1.png", alt="")
						.description
							a(href="#") Index.psd
							p 
								| Исходник главной страницы, в котором вы м
								| ожете посмотреть организацию слоев и прочее
					.down-item
						.image-container
							.image-holder
								img(src="http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-1.jpg", alt="")
						.description
							a(href="#") Books.zip
							p 
								| Зборник книг по сеткам, цветоведениью и 
								| композиции, которые пригодятся вам в работе
					.down-item
						.image-container
							.image-holder
								img(src="http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-6-1.jpg", alt="")
						.description
							a(href="#") Index.psd
							p 
								| Исходник главной страницы, в котором вы м
								| ожете посмотреть организацию слоев и прочее
					.down-item
						.image-container
							.image-holder
								img(src="http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-3.jpg", alt="")
						.description
							a(href="#") Books.zip
							p 
								| Зборник книг по сеткам, цветоведениью и 
								| композиции, которые пригодятся вам в работе

		include ./partials/footer.jade
	include ./partials/scripts.jade
